/* google fonts 
font-family: 'Lora', serif;
font-family: 'Crimson Text', serif;
font-family: 'EB Garamond', serif;
font-family: 'Lusitana', serif;
font-family: 'Cantata One', serif;
 */

html {
    box-sizing: border-box;
    background-color: #445A66;
}

body {
    padding: 0;
    margin: 0;
}

h1 {
    display: inline-block;
    text-transform: lowercase;
    font-family: 'Cantata One', serif;
    font-style: normal;
    font-size: 60px;
    color: #B0813D;
    background-color: #27272C;
}
 
/* #first {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

p {    
    font-family: 'Lora', serif;
    color: #B0813D;
    background-color: #27272C; 
}

span {
    font-family: sans-serif;
    color: white;
    font-style: normal;
    font-family: 'Raleway', sans-serif;
}

/* smartphone size */
@media screen and (max-width: 480px){ 
    #first {
        display: flex;
        flex-direction: column;
    }

    #first > p {
        font-size: 40px;   
        width: fit-content;         
    }
}

/* tablet size */
@media screen and (min-width: 480px){ 
    #first {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    #first > p {
        font-size: 40px;         
        width: fit-content;   
    }
}

/* desktop size */
@media screen and (min-width: 1024px){ 
    #first {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #first > p {
        font-size: 120px;            
    }
}
/* for smallest screen/phone sizes */







