/* google fonts 
font-family: 'Lora', serif;
font-family: 'Crimson Text', serif;
font-family: 'EB Garamond', serif;
font-family: 'Lusitana', serif;
font-family: 'Cantata One', serif;
 */

html {
    box-sizing: border-box;
    background-color: #445A66;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    /* height: 3000px; */
}

main {
    height: 100vh;
    width: 100vw;
    /* width: 100%; */
}

header {
    top: 0;
    margin: 0;
    padding: 0;
}

h1 {
    display: inline-block;
    text-transform: lowercase;
    font-family: 'Cantata One', serif;
    font-style: normal;
    font-size: 60px;
    color: #B0813D;
    background-color: #27272C;
}

#flex-first {
    margin-top: 5%;
    padding: 0;
}

p {    
    font-family: 'Lora', serif;
    color: #CC9D5B;
    background-color: #27272C; 
}

a {
    color: #dcdcdc;
    /* display: inline; */
}

span {
    font-family: sans-serif;
    color: white;
    font-style: normal;
    font-family: 'Raleway', sans-serif;
}

.hidden, .hidden * {
    display: none;
}

.portfolio-entry {
    display: flex;
    padding-left: 5vw;
    padding-right: 5vw;
    /* padding-top: 5vh;
    padding-bottom: 5vh; */
}

.project-title {
    text-transform: uppercase;
    font-family: 'Lora', serif;
    color: #B0813D;
    background-color: #27272C;
}

.project-section-title {
    text-transform: lowercase;
    /* text-decoration: underline; */
    font-family: 'Lora', serif;
    color: #B0813D;
    background-color: #27272C;
    width: fit-content;
}

#flex-carousel {
    position: fixed;
    bottom: 0;
    /* left: 0; */
    width: 100vw;
    height: auto;
    display: flex;
    /* justify-content: space-evenly; */
    background-color: #445A66; 
}

.carousel-button {
    background-color: #129490;
    box-shadow: 3px 3px #27272C;
}

/* smartphone size */
@media screen and (max-width: 480px){ 
    #flex-first {
        display: flex;
        flex-direction: column;
        width: 100%;
        /* height: 80%; */
    }

    #flex-first > p {
        font-size: 32px;   
        width: fit-content;  
        /* margin-top: 5%;
        margin-bottom: 0;        */
    }

    .portfolio-entry {
        flex-direction: column;
    }

    .project-title {
        font-style: normal;
        font-size: 40px;
        width: fit-content;
        /* padding-right: 20%; */
    }

    .project-section-title {
        font-size: 24px;
    }

    .project-description {
        font-size: 18px;   
        align-self: center;
        width: fit-content; 
        /* margin-left: 10%; */
    }
    
    .center {
        align-self: center;
    }

    .end {
        align-self: flex-end;
    }

    #flex-carousel {
        padding-top: 5%;
        padding-bottom: 5%;
        justify-content: space-evenly;
    }

    .carousel-button {
        /* border: 1px solid blue; */
        border-radius: 30%;
        width: 5vw;
        height: 5vw;
    }

    iframe {
        width: 400px;
        height: 225px;
    }

}

/* tablet and larger */
@media screen and (min-width: 480px){ 
    #flex-first {
        /* border: 1px solid red; */
        position: absolute;
        /* top: 15vh; */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 80%;
        padding-left: 20%;
        /* padding-right: 30%; */
        /* align-items: flex-end; */
        /* height: 75%; */
    }
    
    #flex-first > p {
        /* border: 1px solid blue; */
        font-size: 52px;         
        width: fit-content;   
        height: fit-content;
        margin-top: 5%;
        margin-bottom: 0;
    }

    .portfolio-entry {
        display: flex;
        flex-direction: column;
        margin-bottom: 10%;
        position: absolute;
        padding-left: 20%;
        padding-right: 20%;
    }

    /* .project-all-text {
        display: flex;
        flex-direction: row;
    } */

    .project-title {
        font-style: normal;
        font-size: 40px;
        width: fit-content;
        /* padding-right: 20%; */
    }

    .project-section-title {
        font-size: 24px;
    }

    .project-description {
        font-size: 18px;   
        align-self: center;
        width: fit-content; 
        margin-left: 10%;
        margin-right: auto;
    }

    .center {
        align-self: center;
    }

    .end {
        align-self: center;
    }

    iframe {
        margin-top: 5vh;
        width: 640px;
        height: 480px;
        align-self: center;
    }

    #flex-carousel {
        padding: 2%;
        justify-content: center;
    }

    .carousel-button {
        border-radius: 30%;
        width: 2vw;
        height: 2vw;
        margin-left: 2vw;
        margin-right: 2vw;
    }
    
    .project-description {
        align-self: center;
        margin-left: 10%;
        margin-right: 10%;
    }
}

/* desktop size */
@media screen and (min-width: 1024px){ 
    #flex-first > p {
        font-size: 80px;            
        margin-top: 2%;
        margin-bottom: 0;       
    }
}














